#tab-header {
    background-color: #978f80; /* #E5E2E0; */
}

#header-title {
    height: 32px;
    color: steel;
    font-size: 28px;
    text-align: center;
    padding: 14px 0 0 0;
}

.nav-button {
    margin-left: 5px;
    border: none;
    font-size: 18px;
    background-color: #C1BAA9;
}
